{% extends 'main.html' %}
{% block content %}

<header class="header">
    <div class="logo">
      <h1>BEACHES & RESORT</h1>
    </div>
      <nav class="nav">
          <a href="{% url 'index-view' %}">Home</a>
          <a href="{% url 'home' %}">Beaches & Resorts</a>
          <a href="{% url 'map' %}">Map</a>
          <a href="#">Contact</a>
      </nav>
      <div class="dropdown">
        {% if request.user.is_authenticated %}
          <!-- Hamburger Button -->
          <button class="hamburger-btn" id="hamburgerBtn">
            <i class="bi bi-list"></i> <!-- Bootstrap Icon (Can be replaced by custom icon) -->
          </button>
      
          <!-- Dropdown Menu -->
          <ul class="dropdown-menu" id="dropdownMenu">
              <li><a class="dropdown-item" href="{% url 'user-profile' request.user.pk %}">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        {% else %}
            <a href="{% url 'login' %}" style="padding: 8px 16px; font-size: 16px; margin: 0;">Login</a>
        {% endif %}
      </div>
  </header>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const hamburgerBtn = document.getElementById('hamburgerBtn');
      const dropdownMenu = document.getElementById('dropdownMenu');
  
      if (hamburgerBtn && dropdownMenu) {
        hamburgerBtn.addEventListener('click', function () {
          dropdownMenu.parentElement.classList.toggle('open');
        });
      }
    });
  </script>

  {% endblock %}