asgiref==3.8.1
dj-user-login-history==1.0.6
Django==5.1.4
joblib==1.4.2
mysql-connector-python==9.1.0
mysqlclient==2.2.6
numpy==1.26.4
pandas==2.2.3
pillow==11.0.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.6.1
scikit-surprise==1.1.4
scipy==1.15.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.5.0
tzdata==2024.2
